<div class="row">
  <div class="col-xs-12">
    <!-- on ng submit event, call function -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <!-- col-sm means it should span full width on small devices -->
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Ingredient"
            name="name"
            ngModel/>
        </div>
        <div class="col-sm-2 form-group">
          <!-- col-sm means it should span full width on small devices -->
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            placeholder="10"
            name="amount"
            ngModel/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">{{ editMode ? 'Update' : 'Add' }}</button>
          <button *ngIf="editMode" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
